@charset "UTF-8";
@media screen and ( min-width:681px ){
* {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

body {
  min-width: 1000px;
  background-image: url(../img/snow_v3.jpg);
  background-repeat: repeat-y;
}

header{
  position: absolute;
  right: 0;
  top: 75px;
  border-right: 1px solid #888889;/*一部のブラウザで0.5では表示されないため1に変更*/
}

header:after{/*floatを使うため、clearfixを追記（micro clearfixを採用）*/
  content: " ";
  display: table;
  clear: both;
}

header a{/*他のaタグに鑑賞する恐れがあったため、header内aタグに書き換え*/
  display: block;/*aタグは本来インライン要素であるため、ブロック要素に変更*/
  float: left;/*ブロック要素を横並びにするためfloatを使用*/
  padding-left: 25px;/*左だけ長かったので変更、意図が会ったらごめんなさい*/
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-left: 1px solid #888889;/*一部のブラウザで0.5では表示されないため1に変更*/
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

header a:hover{
  background-color: rgba(174,190,200,0.3);
}

header .img06{
width: 40px;
}

header .img07{
width: 40px;
}

header .img08{
width: 40px;
}


img {
  max-width: 100%;
}

.inner {
  width: 1000px;
  background-image: url(../img/road_v5.png);
  background-position: center center; 
  margin: 0 auto;
  position: relative;

}

#loading{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.loadingImg{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}

.hakobus{
  width: 125px;
}

h2 img {
  height: 250px;
}

#topView {
  position: relative;
  height: 800px;
}
#topView img {
  position: absolute;
}

#topView .img01 {
width: 400px;
  left: 20px;
  top: 30px;
}
#topView .img02 {
left:-325px;
top:-155px;
}
#topView .img03 {
 width: 150px;
left: 850px;
top: 30px;
}

#topView .img04{
  width:450px;
  left: 560px;
  top: 220px;
}


#topView .text01{
  position: absolute;
  font-size: 13px;
  width: 450px;
  left: 560px;
  top: 270px;
}

#topView .img05{
  width: 480px;
  left: 560px;
  top: 450px;
}





#place {
  position: relative;
  height: 700px;
}

#place img {
  position: absolute;
}

#place div{
  position: absolute;
}

#place .img01 {
  top: 145px;
  left: 490px;
  height: 200px;
}

#place .img02 {
  width: 300px;
  left: 0px;
  top: 180px;
}

#place .text01 {
  color: #d21577;
  top: 370px;
  left: 0px;
}

#place .img04 {
  height: 100px;
  top: 500px;
  left: 0px;
}

#place .img05 {
  left: 700px;
  width: 300px;
  top: 80px;
}

#place .text02{
  top: 430px;
  left: 0px;
}

#place .text03{
  left: 700px;
  width: 300px;
  top: 400px;
}

#place .img07 {
  height: 300px;
  top: 350px;
  left: 270px;
}

#place .img08 {
<<<<<<< HEAD
  left: 550px;
  top: 200px;
=======
  left: 360px;
  top: 270px;
>>>>>>> master
}

#work {
  position: relative;
  height: 1600px;
}

#work img {
  position: absolute;
}

#work .group{
  position: absolute;
  height: 250px;
  width: 250px;
}



#work .group .mouseover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  width: 250px;
  height: 250px;

  opacity: 0;
  z-index: 2;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#work .group .mouseover p{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  width: 180px;
  height: 30px;
  text-align: center;

  color: #fff;

  opacity: 1;
  z-index: 3;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#work .group .mouseover:hover{
  opacity: 1;
}

#work .modal-contents{
  position: fixed;
  margin: 0;
  z-index: 4;
  display: none;

  width: 750px;
  height: 570px;
  background-color: #fff;
}

#work .modal-close{
  position: relative;
  margin: 15px 30px 0px auto;
  width: 5px;
  height: 5px;
}

#work .modal-close :hover{
  cursor:pointer;
}

#work .modal-icon {
  display: inline-block;
  position: relative;
  margin: 0 20px 0 7px;
  padding: 0;
  width: 6px;
  height: 24px;
  background: #000;
  transform: rotate(45deg);
  border-bottom: 0px;
}

#work .modal-icon:before{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  width: 24px;
  height: 6px;
  margin-top: -3px;
  background: #000;
}

#work .modal-contents img{
  position: relative;
  margin: 20px 25px 10px 25px;
  width: 250px;
  height: 250px;
  float: left;
}

#work .modal-contents h3{
  position: relative;
  margin: 30px 25px 10px 15px;
  padding-left: 10px;
  width: 410px;
  height: 50px;
  float: left;

  border-left: solid 10px #d21577;
  border-bottom: solid 1px #d21577;
  font-size: 23px;
  line-height: 50px;
}

#work .modal-contents p{
  position: relative;
  margin: 0px 25px 10px 15px;
  width: 410px;
  height: 170px;
  float: left;
}

#work .modal-contents ul{
  position: relative;
  margin: 0px 25px 30px 25px;
  width: 700px;
  height: 240px;
  float: left;

  list-style: none;
}

#work .modal-contents ul h4{
  position: relative;
  margin: 10px;
  width: 700px;
  height: 15px;
  float: left;

  font-size: 18px;
  list-style: none;
}

#work .modal-contents .member{
  position: relative;
  margin: 15px 10px;
  width: 200px;
  height: 80px;
  border-left: solid 5px #d21577;

  float: left;
}

#work .modal-contents .member li{
  margin: 5px 10px;
  width: 200px;
  height: 30px;
  float: left;

  list-style-type: none;
}

#work .modal-contents .member p{
  margin: 5px 10px;
  width: 200px;
  height: 30px;

  line-height: 30px;
}

#work .modal-contents .member_2{
  position: relative;
  margin: 15px 10px;
  width: 230px;
  height: 80px;
  border-left: solid 5px #d21577;

  float: left;
}

#work .modal-contents .member_2 li{
  margin: 5px 10px;
  width: 200px;
  height: 30px;
  float: left;

  list-style-type: none;
}

#work .modal-contents .member_2 p{
  margin: 5px 10px;
  width: 230px;
  height: 30px;

  line-height: 30px;
}

#work .modal-contents .member_3{
  position: relative;
  margin: 15px 10px;
  width: 330px;
  height: 80px;
  border-left: solid 5px #d21577;

  float: left;
}

#work .modal-contents .member_3 li{
  margin: 5px 10px;
  width: 200px;
  height: 30px;
  float: left;

  list-style-type: none;
}

#work .modal-contents .member_3 p{
  margin: 5px 10px;
  width: 330px;
  height: 30px;

  line-height: 30px;
}

.modal-overlay{
  z-index: 3;
  display: none; /*最初は表示しない*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0,0,0,0.75);
}

#work .img01 {
  top: 78px;
  left: 450px;
  height: 200px;
}

#work .text01{
  position: absolute;
  top: 135px;
  left: 730px;
  width: 300px;
}

#work .img03 {
  top: 200px;
  left: 560px;
}

#work .group01{
  left: 130px;
  top: 150px;
}

#work .group02{
  top: 420px;
}

#work .group03{
  left: 650px;
  top: 370px;
}

#work .group04{
  top: 550px;
  left: 300px;
}

#work .group05{
  left: 600px;
  top: 700px;
}

#work .group06{
  top: 730px;
}

#work .group07{
  top: 1000px;
  left: 150px;
}

#work .group08{ 
  top: 1000px;
  left: 750px;
}

#work .group09{
  top: 1270px;

}

#work .group10{
  top: 1200px;
  left: 500px;
}

#movie {
  position: relative;
  height: 600px;
}

#movie img{
  position: absolute;
}

#movie .img01{
  top : 25px;
  left: 440px;
  height: 200px;
}

#movie .img02{
  top : 150px;
  left: 540px;
}

#movie .movie_contents{
  position: absolute;
  top: 100px;
  width: 400px;
  height: 250px;
  background-color: #FFF;
}

#movie .movie_contents p{
  margin: 100px 100px;
  width: 200px;
  height: 50px;
  font-size: 25px;
}

#end {
  position: relative;
  height: 300px;
}

#end img{
  position: absolute;
}

#end .img01{
  top: 160px;
  left: 430px;
}

#end .img02{
  top: 230px;
  left: 300px;
}

#end .text01{
  top: 500px;
  font-size: 2em;
  text-align: center;
}

.topButton{
  position: fixed;
  right: 50px;
  bottom: 20px;
  margin-left: auto;
  width: 100px;
  padding-bottom: 20px;
  z-index: 50;
}

.topButton a{
  border-bottom: 0;
}

.topButton a img{
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.topButton:hover{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.mobile_only{
  display: none !important;
}

h3{
  display: none !important;
}

.modal-contents > h3{
  display: block !important;
}

.icon{
  position: relative !important;
  width: 16px;
}

.outer *{
  position: absolute;
}

.outer .photo01{
  top:695px;
  right: 0;
  width: 150px;
}

.outer .photo02{
  top: 920px;
  left: 0;
  width: 150px;
}
.outer .photo03{
  top: 3800px;
  left: 0;
  width: 150px;
}
.outer .photo04{
  top:1400px;
  right: 0;
  width: 200px;
}
.outer .photo05{
  top:2250px;
  right: 10%;
  width: 150px;
}
.outer .photo06{
  top:1900px;
  left: 0;
  width: 150px;
}
.outer .photo07{
  top:3000px;
  left: 0;
  width: 150px;
}
}

#copyright{
  padding: 30px 0;
  text-align: center;
}
