@charset "UTF-8";
* {
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

body {
  width: 100%;
  background-image: url(../img/snow.jpg);
  background-repeat: repeat-y;
}

img {
  max-width: 100%;
}

.inner {
  width: 1000px;
  background-image: url(../img/road_one.png);
  margin: 0 auto;
  position: relative;
}

header {
  position: absolute;
  right: 0;
  top: 30px;
  height: 30px;
}
header img {
  height: 100%;
  margin-left: 10px;
}

h2 img {
  height: 135px;
}

#topView {
  position: relative;
  height: 700px;
}
#topView img {
  position: absolute;
}
#topView .img01 {
  width: 300px;
  left: 20px;
  top: 20px;
}
#topView .img02 {
  left: 550px;
  top: 350px;
}
#topView .img03 {
  left: 750px;
  top: 300px;
  height: 400px;
}

#place {
  position: relative;
}

#work {
  position: relative;
}

#movie {
  position: relative;
}

#end {
  position: relative;
}

.topButton {
  display: none
  /*未デザインのため*/
}
