@charset "UTF-8";

@media screen and ( max-width:680px ){
body{
  background-image: url(../img/snow_v3.jpg);
  background-repeat: repeat-y;
  min-width: 0;
  height: auto !important;
}

.inner{
  width: 94%;
  margin: 0 3%;
  background-image: url(../img/road_phone.png);
}

img{
  max-width: 95%;
}

.pc_only{
  display: none !important;
}

.hakobus{
  display: none !important;
}

header{
  display: none !important;
}

h2{
  display: none !important;
}

.modal-contents{
	display: none !important;
}

.mobile_hakobus{
  height: 30px;
  margin-left: -10px;
}

.mobile_busStop{
  height: 50px;
}

.title{
  height: 30px;
  margin-left: 5px;
}

#topView{
  text-align: center;
  margin-bottom: 70px;
}

#topView .img00{
  width: 80%;
  margin-top: 20px;
}

#topView .img01{
  width: 70%;
}

#topView .img02{
  margin: -120px -30% -50px 0%;
  width: 70%;
}

#topView .img03{
  margin: 5px -120% 30% 0;
  width: 20%;
}

#topView .img05{
  width: 60%;
  margin-top: 40px;
}

#topView .not_mobile{
  display: none;
}

#mobile_about{
  margin: 30px 0;
}

#mobile_about .img01{
  margin: 0 auto;
  width: 70%;
  margin-top: 20px;
  margin-bottom: 10px;
}

#mobile_about .img02{
  margin-left: 17%;
  width: 50%;
}

#mobile_about .text01{
  margin: 0 auto;
  width: 80%;
}

#place{
  margin-bottom: 50px;
}

#place .text01{
  margin-left: 17%;
  width: 66%;
}

#place .img03{
  margin-left: 17%;
  width: 40%;
  margin-bottom: 20px;
}

#place .img02{
  width: 40%;
  margin-bottom: 20px;
}

#place .img05{
  margin-left: 17%;
  width: 35%;
}

#place .text03{
  margin-left: 17%;
  width: 43%;
}

#place .text02{
  margin-left: 17%;
  width: 40%;
}

#work{
  margin-bottom: 50px;
}

#work .text01{
  margin-left: 17%;
  width: 66%;
}

#work .img02{
  margin-left: 17%;
  width: 70%;
  margin-bottom: 30px;
}

#work:after{
	/*micro clearfix*/
	display: table;
	content: "";
	clear: both;
}

.work-logo{
  margin: 0px auto;
  padding: 5% 3%;
  width: 30%;
  float: left;
}

.work-title{
  margin: 0px auto;
  padding: 5% 3%;
  width: 100%;
}

.work-title img{
  width: 15%;
  float: left;
}

.work-title h3{
  padding-left: 3%;
  width: 85%;
  height: 100%;
  float: left;
  font-size: 150%;

  line-height: 200%;
}

.work-contents{
  margin: 0px auto;
  padding: 5% 3%; 
  width: 100%;
}

.work-contents:nth-child(2n){
  margin: 0px auto;
  padding: 5% 3%; 
  width: 100%;

  background-color: rgba(215,238,255,0.5);
}

.work-contents .work-icons{
  margin:2%;
  width: 32%;
  height:auto;

  float: left;
}

.work-contents .work-icons img{
  margin:0% auto;
  width: 100% !important;
  height:auto;

  float: left;
}

.work-contents .work-icons h5{
  margin:0% auto;
  width: 100%;
  height:auto;

  text-align: center;
  float: left;
}

.work-contents .work-icons p{
  margin:0%;
  width: 100%;
  height:auto;

  text-align: center;
  float: left;
}

.work-contents h3{
  position: relative;
  margin: 2%;
  padding-left: 2%;
  width: 60%;
  height: 30px;
  float: right;

  border-left: solid 10px #d21577;
  border-bottom: solid 1px #d21577;
}

.work-contents p{
  position: relative;
  margin: 2%;
  width: 60%;
  float: right;
}

.work-contents ul{
  position: relative;
  margin: 2%;
  width: 60%;
  float: right;

  list-style: none;
}

.work-contents h4{
  position: relative;
  margin: 2%;
  margin-left: 0%;
  padding-left: 2%;

  border-left: solid 10px #d21577;
  border-bottom: solid 1px #d21577;
}

.group{
	clear: both;
}
.group:before{
	content: url(../img/work_icon_s.png);
	float: left;
  margin-left: 17%;
}
.group > img{
	display: none;
}
.shadow_img{
	display: none !important;
}
.group >div{
	float: left;
  margin-left: 10px;
}

#movie{
  margin-bottom: 50px;
}

#movie .movie_contents{
  margin-left: 17%;
}

#end{
  padding-bottom: 50px;
}

#end .text01{
  font-size: 1.5em;
  margin-top: 10px;
  margin-left: 10%;
  width: 66%;
}

.topButton{
  width: 20%;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.icon{
  width: 16px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

/*.clearfix{display: inline-block;} 

/* Hides from IE Mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
  clear: both;
}

}

